package icons

type Props struct {
	Size        int
	Color       string
	Fill        string
	Stroke      string
	StrokeWidth string
	Class       string
}

templ GetIcon(name, iconFamily string, props ...Props) {
}
