package styles

import "fmt"

css Cols(value int) {
	grid-template-columns: { fmt.Sprintf("%v, 1fr",value) };
}

css Rows(value int) {
	grid-template-rows: { fmt.Sprintf("%v",value) };
}

css MaxWidth(value string) {
	max-width: { value };
}

css MinWidth(value string) {
	min-width: { value };
}
