/* All classnames start with tc for templ_components */

*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body> :is(header, footer),
main,
section,
article,
form {
    container-type: inline-size;
}

.tc-input {
    min-width: 150px;
    padding-block: 0.5em;
    border-radius: 0.25rem;
}

.tc-form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.tc-label {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.tc-label>span {
    font-weight: bold;
}

.tc-new-password {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tc-resizeX {
    resize: horizontal;
}

.tc-resizeY {
    resize: vertical;
}
